page-station {

    ion-content {
        background-image: url('assets/imgs/Background_station.jpg');
        background-size: cover;
    }

    caption {
        color: white;
        font-size: 30px;
        padding-bottom: 20px;
        letter-spacing: 10px;
    }

    tr {
        line-height: 20px;
        font-size: 17px;
        column-width: 50%;
        border: 1px solid #000;
        height: 50px;
    }

    td {
        width: 80%;
        background-color : white;
        opacity: 0.8;

    }

    th {
        padding-left:10px;
        width: 20%;
        background-color : white;
        opacity: 0.8;
        letter-spacing: 2px;
    }

    table {
        text-align: center;
        border-spacing: 0px 5px;
        border-collapse: separate;
        position: relative;
        margin-top: 15%;
    }

    



}
